/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 20px;
  color: #23272a;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 90%;
  max-width: 1180px;
  margin: 0 auto;
}

.btn {
  font-size: 14px;
  color: black;
  background-color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 40px;
}

.btn.btn_big {
  font-size: 18px;
  padding: 15px 25px;
}

.btn.btn_black {
  background-color: #23272A;
  color: white;
}

.btn:hover {
  color: cornflowerblue;
}


/* HEADER */
header {
  height: 80px;
  background-color: #3061E0;
  line-height: 80px;
}

.logo img {
  vertical-align: middle;
}

/* NAVBAR MENU */
.top-menu {
  width: calc(100% - 202px);
  text-align: center;
}

.top-menu ul {
  list-style: none;
}

.top-menu, .logo{
  float: left;
}

.top-menu ul li {
  display: inline-block;
  padding: 0 15px;
}

.top-menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.top-menu ul li a:hover {
  text-decoration: underline;
}

#accedi {
  float: right;
}

/* JUMBOTRON */
.jumbotron {
  height: 547px;
  background-image: url('../img/jumbo.png');
  background-size: cover;
}

.jumbotron .container {
  max-width: 800px;
  color: #fff;
  text-align: center;
  padding-top: 100px;
}

.jumbotron h1 {
  font-size: 54px;
  margin-bottom: 40px;
}

.jumbotron p {
  margin-bottom: 30px;
  line-height: 38px;
}

.jumbotron .container .btn.btn_black {
  margin-left: 30px;
}

/* MAIN */
main .box:nth-child(even) {
  background-color: #F6F6F6;
}

section.main-content img, .main-content.text {
  float: left;
}


section.main-content img {
  width: 60%;
  margin-right: 100px;
}

section.main-content img#mage-voice-connected {
  margin-right: 0;
  margin-left: 100px
}

.main-content.text {
  width: 30%;
  margin-bottom: 50px;
}

.main-content.text h2 {
  padding-top: 22px;
  margin-bottom: 15px;
  font-size: 40px;
  line-height: 52px
}

.main-content.text p {
  line-height: 1.5em;
}



#big-videocall {
  width: 100%;
  float: none;
}

.box .main-content.bottom h2, .box .main-content.bottom p {
  text-align: center;
  line-height: 1.5em;
}

.box .main-content.bottom h2 {
  font-size: 40px;
}